---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>HELLO</h1>

<ul class="table" id="Books">

</ul>

<h1>Yet Another 11ty <strong>Boilerplate</strong></h1>

<h1><script>myFunction(5, 10) </script> </h1>